<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <title>home</title>
</head>
<body>
  I need healing!
  <a href="/rank" class="btn btn-primary">rank</a>
  <form action="/players" method="GET" class="form-group">
    <p>查询队伍的选手</p>
    <input type="text" name="team" class="form-control" placeholder="输入查询队伍英文名或id" />
    <button type="submit">submit</button>
  </form>
  <form action="/playerStats" method="GET" class="form-group">
    <p>查询选手的数据</p>
    <input type="text" name="playerid" class="form-control" placeholder="输入查询选手id" />
    <button type="submit">submit</button>
  </form>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>